        @font-face {
            font-family: 'Pretendard-Regular';
            src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }
        
        .navbar,
        .navbar-nav a {
            color: #001D2D !important;
        }
        
        .pretendard {
            font-family: 'Pretendard-Regular';
        }
        
        * {
            box-sizing: border-box;
            font-family: 'Pretendard-Regular';
        }
        
        .allSection {
            margin-bottom: 100px;
        }
        
        .totalCredits,
        .gradeRatio,
        .RequiredChangeList,
        .semesterGPA,
        .uncompletedCourses,
        .RecommendedList,
        .intro,
        .chapelCount,
        .GraduationRequirements {
            border: 1px solid #999EA4;
            border-radius: 10px;
            margin-bottom: 15px;
            padding: 20px;
        }
        
        .title {
            font-weight: bold;
            font-size: 17px;
            margin-bottom: 3px;
        }
        /* section 1 */
        
        .score {
            font-size: 12px;
        }
        
        .gradeRatio {
            height: 390px;
        }
        
        .RequiredChangeList li {
            font-size: 13px;
        }
        /* section 3*/
        
        .uncompleteBtn button {
            border: none;
            border-radius: 10px;
            padding: 5px 15px 5px 15px;
            margin: 0 2px;
        }
        
        .uncompleteBtn button:hover {
            background-color: rgb(12, 118, 204);
            color: white;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        /* section 3*/
        
        .id,
        .grade,
        .majorDeep {
            font-size: 12px;
            font-weight: bold;
        }
        
        .majorDeep {
            color: #5F5F5F;
        }
        
        .clear button {
            background-color: red;
            color: white;
            border: 2px solid black;
            border-radius: 30px;
            width: 100%;
            padding: 8px;
            font-weight: bold;
            font-size: 12px;
        }
        
        ul {
            padding-left: 1.5rem;
        }
        /* 미수강과목 */
        
        .tableTitle th,
        .tableTitle td {
            display: inline-block;
            padding: 10px;
        }
        
        .tableTitle tr {
            border-bottom: 1px solid rgb(95, 95, 95, 0.5);
        }
        
        .tableTitle tbody tr:last-child {
            border: none;
        }
        
        .tableTitle tbody {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
        
        thead {
            color: #5F5F5F;
        }
        
        .uncompletedCourses table tr,
        .RecommendedList table tr {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            padding: 0 50px;
        }
        
        table {
            margin: 0 auto;
            height: 180px;
            width: 90%;
        }
        
        .tableTitle {
            height: auto;
            width: 90%;
        }
        /* 버튼 클릭시 style */
        
        .clickbtn {
            background-color: #0C76CC;
            color: white;
        }
        /* 페이지네이션 */
        
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 25px;
        }
        
        .page {
            margin: 0 5px;
            cursor: pointer;
        }
        
        .page.active {
            font-weight: bold;
        }
        
        .uncompletedCourses,
        .RecommendedList {
            height: 360px;
            position: relative;
        }
        
        .pagination,
        .paginationRe {
            position: absolute;
            bottom: 20px;
            left: 47%;
        }
        /* 재수강 추천리스트 */
        
        .RecommendedList table tr {
            padding: 0 10px;
        }
        
        .RecommendedList table td:nth-child(2) {
            width: 200px;
        }
        
        .RecommendedList table th:nth-child(2) {
            width: 200px;
        }
        
        .RecommendedList table td:last-child {
            width: 45px;
        }
        
        .RecommendedList table th:last-child {
            width: 50px;
        }
        /* 학기별 성적 평점 */
        
        .totalGPA {
            margin: 10px 0 25px 0;
        }
        
        .totalGPA span {
            display: inline-block;
            margin: 0 10px;
            font-size: 28px;
            font-weight: bold;
        }
        /* 이수학점 리스트 */
        
        .modalBtn {
            background: none;
            border: none;
            text-decoration: underline;
            font-size: 12px;
            color: #7B7B7B;
        }
        
        .modal-header {
            border-bottom: none;
        }
        
        .modal-score {
            border-top: 2px solid black;
        }
        /* modal table */
        
        .modal-table {
            margin: 0 auto;
            width: 95%;
            height: auto;
        }
        
        .modal-table tr {
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin-bottom: 3px;
        }
        
        .modal-table tr td:first-child,
        .modal-table tr th:first-child {
            width: 60px;
        }
        
        .modal-table tr td:nth-child(2),
        .modal-table tr th:nth-child(2) {
            width: 160px;
        }
        
        .modal-table tr td:nth-child(3),
        .modal-table tr th:nth-child(3),
        .modal-table tr td:nth-child(4),
        .modal-table tr th:nth-child(5) {
            width: 30px;
        }
        
        .modal-table tr td:nth-child(5),
        .modal-table tr th:nth-child(5),
        .modal-table tr td:nth-child(6),
        .modal-table tr th:nth-child(6) {
            width: 40px;
        }
        
        .doughnut-data {
            position: relative;
        }
        
        .GraduationRequirements ul,
        .RequiredChangeList ul {
            padding: 5px;
        }
        
        .generaltext {
            text-align: center;
        }
        /* Upload 화면 모바일 반응형 CSS */
        
        @media (max-width: 1800px) {
            /* 차트 */
            .line-chart-box {
                margin: 0 auto;
                width: 530px;
            }
            #line-chart {
                width: 530px;
            }
        }
        
        @media (min-width: 768px) and (max-width: 1280px) {
            .line-chart-box {
                margin: 0 auto;
                width: 360px;
            }
            #line-chart {
                width: 360px;
            }
            .credits {
                flex-direction: column;
                margin-bottom: 15px;
            }
            .generaltext {
                text-align: center;
            }
            .doughnut-chart-box {
                width: 130px;
            }
            .doughnut-data {
                font-size: 8px;
            }
            .percentage {
                margin-left: 10px;
            }
            .dot {
                left: 0;
            }
            .gradeRatio {
                height: 300px;
            }
            .cpcount {
                font-size: 20px !important;
            }
            .uncompleteBtn button {
                font-size: 12px;
            }
            .title {
                font-size: 15px;
            }
            .uncompletedCourses table tr,
            .RecommendedList table tr {
                padding: 0;
            }
            .tableTitle td {
                padding: 4px;
            }
            .uncompletedCourses,
            .RecommendedList {
                height: 320px;
            }
            .GraduationRequirements {
                padding: 10px;
            }
            .GraduationRequirements ul li {
                font-size: 12px;
            }
        }
        
        @media (min-width: 451px) and (max-width: 767.98px) {
            .line-chart-box {
                margin: 0 auto;
                width: 350px;
            }
            #line-chart {
                width: 350px;
            }
            .uncompleteBtn button {
                font-size: 13px;
            }
            .sec1 {
                order: 3;
            }
            .sec2 {
                order: 2;
            }
            .sec3 {
                order: 1;
            }
        }
        
        @media(max-width: 450px) {
            .line-chart-box {
                margin: 0 auto;
                width: 320px;
            }
            #line-chart {
                width: 320px;
            }
            .uncompleteBtn button {
                font-size: 13px;
                padding: 5px 8px;
            }
            .uncompletedCourses table tr,
            .RecommendedList table tr {
                padding: 0;
            }
            .tableTitle td {
                padding: 4px;
            }
            .uncompletedCourses,
            .RecommendedList {
                height: 320px;
            }
            .sec1 {
                order: 3;
            }
            .sec2 {
                order: 2;
            }
            .sec3 {
                order: 1;
            }
        }
        
        .totalscore {
            display: inline-block;
            margin-right: 20px;
        }
