@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
.pretendard-font {
  font-family: "Pretendard";
}
body {
  background-color: rgb(255, 255, 255);
}
.navbar {
  padding-bottom: 10px;
}

/* howUse*/
.howUse {
  background-color: #f9fafb;
  height: 632px;
}
.howuse-text {
  font-size: 40px;
  font-weight: 800;
  padding: 24px 0px 50px 0px;
}
.uploadBox {
  border: 1px solid #999ea4;
  border-radius: 10px;
  height: 250px;
  background: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  margin: 0 17px 0 17px;
  position: relative;
}
.step {
  height: 158px;
  margin-top: -8px;
}
.step-sub-title {
  font-size: 12px;
}
.step > p {
  margin-top: 19px;
}
hr {
  margin: 0px;
  margin-top: 10px;
}
#input {
  visibility: hidden;
}
#uploadBtn {
  text-decoration-line: none;
  color: white;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #5ab0ff;
  background: #2579f1;
  width: 160px;
  height: 48px;
  font-size: 16px;
  margin-top: 55px;
  position: relative;
}
.btn-text {
  margin-right: 30px;
  font-weight: 700;
}
.uploadIcon img {
  width: 22px;
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.img_step2 img,
.img_step3 img,
.img_step4 img {
  max-width: 90%;
  height: auto;
}
.img_step1 img {
  height: auto;
}
.img_step1 {
  padding-bottom: 3px;
}
.img_step2 {
  padding-top: 20px;
}
.img_step3 {
  padding-top: 38px;
}
.img_step4 {
  padding-top: 38px;
}
/* notice */
.notice {
  height: 411px;
  background-color: #ffffff;
}
.notice-text {
  padding-top: 24px;
  font-size: 40px;
  font-weight: 800;
}
.notice-sub-text {
  font-size: 20px;
}
.notice-sub-text li {
  line-height: 35px;
}

/* Upload 화면 모바일 반응형 CSS */
@media (max-width: 1199.98px) {
  .howUse {
    height: auto;
  }
  .uploadBox {
    margin-bottom: 48px;
  }

  #uploadBtn {
    margin: 0px 0px 40px 0;
  }
  .notice {
    height: 411px;
  }
  .notice-sub-text {
    font-size: 18px;
  }
  .img_step1 img {
    width: 65%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .howUse {
    height: auto;
  }
  #uploadBtn {
    margin: 10px 0px 50px 0;
  }
  .notice {
    height: 411px;
  }
  .img_step1 img {
    width: 43%;
  }
}

@media (max-width: 767.98px) {
  #uploadBtn {
    margin: -30px 0px 50px 0;
  }

  .notice-sub-text {
    font-size: 16px;
  }
  .notice-sub-text li {
    line-height: 30px;
  }
}
@media (max-width: 550.98px) {
  .howUse {
    height: auto;
  }
  .howuse-text {
    font-size: 30px;
  }

  .uploadBox {
    margin: 0 0 23px 0;
  }

  #uploadBtn {
    margin: -30px 0px 50px 0;
    width: 133px;
    height: 45px;
    font-size: 13px;
    position: relative;
  }

  .btn-text {
    margin-right: 20px;
    font-weight: 700;
  }

  .uploadIcon img {
    width: 18px;
    position: absolute;
    right: 10px;
    bottom: 12px;
  }
  .img_step1 img {
    margin-top: 10px;
  }
  .notice {
    height: 330px;
  }
  .notice-sub-text {
    font-size: 11px;
    margin-bottom: 58px;
  }
  .notice-text {
    font-size: 30px;
  }
  .notice-sub-text li {
    line-height: 25px;
  }
}
