* {
    box-sizing: border-box;
}

.totalCredits,
.gradeRatio,
.RequiredChangeList,
.semesterGPA,
.uncompletedCourses,
.RecommendedList,
.intro,
.chapelCount,
.GraduationRequirements {
    border: 1px solid #999EA4;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
}

.title {
    font-weight: bold;
    font-size: 17px;
}


/* section 1 */

.score {
    font-size: 12px;
}

.gradeRatio {
    height: 350px;
}