/* 공통 디자인 CSS 만 여기 적용 */
/* Font 정보 */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,800&display=swap');
.kanit-font {
    font-family: 'Kanit', sans-serif;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
.pretendard-font {
    font-family: 'Pretendard';
}

/* Navbar 디자인 CSS */
.logo-sku-sku {
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
}
.divider {
    font-size: 30px;
    font-weight: 900;
}
.service-name {
    font-size: 16px;
    font-weight: 700;
}
.menu {
    font-size: 16px;
    font-weight: 800;
}

/* 문의하기 Section CSS */
.contact {
    background-color: #001D2D;
}
.contact-title {
    font-size: 40px;
    font-weight: 700;
}
.contact-icon{
    width: 50px;
    height: auto;
}
.copyright {
    color: #C3C3C3;
    font-weight: 700;
    font-size: 20px;
}
/* 모바일 새로화면 기준 CSS 적용 */
@media (max-width: 575.98px) {
    .logo-sku-sku {
        font-size: 25px;
        font-weight: 800;
        font-style: italic;
    }
    .divider {
        /* font-size: 30px;
        font-weight: 700; */
        display: none;
    }
    .service-name {
        /* font-size: 13px;
        font-weight: 700; */
        display: none;
    }
    .contact-title {
        font-size: 30px;
        font-weight: 700;
    }
    .contact-sub-text {
        font-size: 11px;
    }
}